[Desktop Entry]
Type=Application
Name=HeadsetControl GUI
Comment=Control headset sidetone, lights and battery from the system tray
Exec=headsetcontrol-gui
Icon=headsetcontrol-gui
Terminal=false
Categories=AudioVideo;Audio;Settings;
StartupNotify=false
